.product {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.productList__media {
  /* height: 250; */
  /* height: 0;
    padding-top: "56.25%";
    margin-top: "30"; */
}

.productList__Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 275px;
  margin: 10px;
  /* margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
  
    background-color: white;
    z-index: 1;
    transition: transform 450ms; */
  border-bottom: 10px solid white;
}

/* .productList__card {
      display: "flex";
      flex-direction: "column";
      justify-content: "space-between";
     
    } */

.productList__Card:hover {
  transform: scale(1.04);
}

.product__rating {
  display: flex;
}

.productList__Card > img {
  /* max-height: 200px; */
  /* height: 250px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px; */
}

.productList__Card > button {
  cursor: pointer;
  background: #b1279a;
  border: 1px solid;
  margin-top: 10px;
  border-color: #583b54 #772b6a #6b1355;
  color: #111;
}

.productList__price {
  margin-top: 5px;
}

.productList_info {
  height: 100px;
  margin-bottom: 15px;
}

.productList__border {
  border: solid;
}

.productList__fullHeightCard {
  height: 100%;
}

.productList__activeCard {
  border-bottom: 10px solid #22289a;
}

.productList__grid {
  display: flex;
}

.productList__details {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.productList__title {
  padding: 0 16px;
}

.productList__cardActions {
  padding: 0 16px 8px 16px;
  display: flex;
  justify-content: space-between;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  /* width: 100%; */
  max-height: 400px;
  /* min-width: 100px; */
  /* overflow-y: hidden; */
  background-color: rgb(255, 255, 255);
  /* z-index: 1; */
  transition: transform 450ms;
  margin-bottom: 30px;
}

.product:hover {
  transform: scale(1.04);
}

.product__rating {
  display: flex;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  cursor: pointer;
  background: #c056a0;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a8348b #9c3181 #84296d;
  color: rgb(255, 253, 253);
  font-weight: bold;
}
.product > button :hover {
  color: #c056a0;
}
.product__price {
  margin-top: 5px;
}

.product_info {
  height: 100px;
  margin-bottom: 15px;
}
